In [1]:
import numpy as np 
import pandas as pd 
from pandas import Series, DataFrame

In [2]:
obj = Series([3,6,9,12]) # each value has an index, cool!

In [3]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [4]:
obj.values

array([ 3,  6,  9, 12])

In [5]:
obj.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [13]:
ww2_cas = Series ([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [15]:
ww2_cas['USA'] # you can call with index

400000

In [22]:
# Check which countries had causulties than 4.000.000 

print [ww2_cas > 4000000]

[USSR        True
Germany     True
China      False
Japan      False
USA        False
dtype: bool]

In [17]:
'USSR' in ww2_cas

True

In [18]:
ww2_dict = ww2_cas.to_dict()

In [19]:
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [24]:
ww2_series = Series(ww2_dict)
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [25]:
countries = ['China','Germany','Japan','USSR','USA','Argentina']

In [26]:
obj2 = Series(ww2_dict,index=countries)

In [27]:
obj2

China        3000000
Germany      4300000
Japan        2100000
USSR         8700000
USA           400000
Argentina        NaN
dtype: float64

In [28]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USSR         False
USA          False
Argentina     True
dtype: bool

In [29]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USSR          True
USA           True
Argentina    False
dtype: bool

In [30]:
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [31]:
obj2

China        3000000
Germany      4300000
Japan        2100000
USSR         8700000
USA           400000
Argentina        NaN
dtype: float64

In [32]:
ww2_series + obj2

Argentina         NaN
China         6000000
Germany       8600000
Japan         4200000
USA            800000
USSR         17400000
dtype: float64

In [33]:
obj2.name = "World War 2 Casulties"

In [34]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [35]:
obj2

China        3000000
Germany      4300000
Japan        2100000
USSR         8700000
USA           400000
Argentina        NaN
Name: World War 2 Casulties, dtype: float64

In [36]:
obj2.index.name = "Countries"
obj2

Countries
China        3000000
Germany      4300000
Japan        2100000
USSR         8700000
USA           400000
Argentina        NaN
Name: World War 2 Casulties, dtype: float64

AttributeError: 'numpy.ndarray' object has no attribute 'name'