In [1]:
import numpy as np 
import pandas as pd 

from pandas import Series,DataFrame

In [3]:
data = Series(['one','two', np.nan, 'four'])
data

0     one
1     two
2     NaN
3    four
dtype: object

In [5]:
data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [6]:
data.dropna()

0     one
1     two
3    four
dtype: object

In [9]:
dframe = DataFrame([[1,2,3],[np.nan,5,6],[7,np.nan,9],[np.nan,np.nan,np.nan]])
dframe

    0   1   2
0   1   2   3
1 NaN   5   6
2   7 NaN   9
3 NaN NaN NaN

In [10]:
clean_dframe = dframe.dropna() # row is also droping

In [11]:
clean_dframe

   0  1  2
0  1  2  3

In [12]:
dframe.dropna(how="all") # (how="all") method?

    0   1  2
0   1   2  3
1 NaN   5  6
2   7 NaN  9

In [14]:
dframe.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [24]:
npn = np.nan 

dframe2 = DataFrame([[1,2,3,npn],[2,npn,5,6],[npn,7,npn,9],[1,npn,npn,npn]])
dframe2

    0   1   2   3
0   1   2   3 NaN
1   2 NaN   5   6
2 NaN   7 NaN   9
3   1 NaN NaN NaN

In [16]:
dframe2.dropna(thresh=2) # if you have two points, you can stay brother.

    0   1   2   3
0   1   2   3 NaN
1   2 NaN   5   6
2 NaN   7 NaN   9

In [17]:
dframe2.dropna(thresh=3)

   0   1  2   3
0  1   2  3 NaN
1  2 NaN  5   6

In [22]:
dframe2.fillna(0)

   0  1  2  3
0  1  2  3  0
1  2  0  5  6
2  0  7  0  9
3  1  0  0  0

In [25]:
dframe2 + dframe2

    0   1   2   3
0   2   4   6 NaN
1   4 NaN  10  12
2 NaN  14 NaN  18
3   2 NaN NaN NaN

In [26]:
dframe2.fillna({0:0,1:1,2:2,3:3}) # column number takes the NaN values

   0  1  2  3
0  1  2  3  3
1  2  1  5  6
2  0  7  2  9
3  1  1  2  3

In [27]:
dframe2.fillna(0,inplace=True) #permanent change for NaN values with in function!!!

In [28]:
dframe2

   0  1  2  3
0  1  2  3  0
1  2  0  5  6
2  0  7  0  9
3  1  0  0  0