In [2]:
# import module 
import numpy as np 
import pandas as pd 
from pandas import Series, DataFrame
from numpy.random import randn

In [3]:
# the first abc indexed with 111 - and the second abc indexed with 222
serr = Series(randn(6), index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])

serr

1  a    1.008810
   b    0.944754
   c    0.043102
2  a    1.912715
   b    0.727017
   c    0.639873
dtype: float64

In [5]:
serr.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
serr[1]

a    1.008810
b    0.944754
c    0.043102
dtype: float64

In [7]:
serr[2]

a    1.912715
b    0.727017
c    0.639873
dtype: float64

In [8]:
serr[:,'a'] # all index level with : and what you are looking for

1    1.008810
2    1.912715
dtype: float64

In [9]:
dframe = serr.unstack()

In [10]:
dframe

          a         b         c
1  1.008810  0.944754  0.043102
2  1.912715  0.727017  0.639873

In [14]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],
                    columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [15]:
dframe2.index.names = ['INDEX1','INDEX2']
dframe2.columns.names = ['STATE','TEMP']

dframe2

STATE           NY      LA   SF
TEMP          cold hot hot cold
INDEX1 INDEX2
a      1         0   1   2    3
       2         4   5   6    7
b      1         8   9  10   11
       2        12  13  14   15

In [16]:
dframe2.swaplevel('STATE','TEMP',axis=1) #swapping the names that you created

TEMP          cold hot     cold
STATE           NY  NY  LA   SF
INDEX1 INDEX2
a      1         0   1   2    3
       2         4   5   6    7
b      1         8   9  10   11
       2        12  13  14   15

In [26]:
dframe2.sortlevel(1)

STATE           NY      LA   SF
TEMP          cold hot hot cold
INDEX1 INDEX2
a      1         0   1   2    3
b      1         8   9  10   11
a      2         4   5   6    7
b      2        12  13  14   15

In [28]:
dframe2.sum(level='TEMP', axis=1) # Index hierarchy

TEMP           cold  hot
INDEX1 INDEX2
a      1          3    3
       2         11   11
b      1         19   19
       2         27   27