In [10]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [11]:
ser1 = Series([2,np.nan,4,np.nan,6,np.nan],
             index = ['Q','R','S','T','U','B'])

ser1

Q     2
R   NaN
S     4
T   NaN
U     6
B   NaN
dtype: float64

In [12]:
ser2 = Series(np.arange(len(ser1)), dtype=np.float64,
               index = ['Q','R','S','T','U','B'])
ser2

Q    0
R    1
S    2
T    3
U    4
B    5
dtype: float64

In [13]:
Series(np.where(pd.isnull(ser1),ser2,ser1),
      index=ser1.index)

Q    2
R    1
S    4
T    3
U    6
B    5
dtype: float64

In [15]:
## If you have the same index, you can use this code. On the other hand, it will also combine the indexes to the same place.  
ser1.combine_first(ser2)

Q    2
R    1
S    4
T    3
U    6
B    5
dtype: float64

In [16]:
nan = np.nan
dframe_odds = DataFrame({'X':[1.,nan,3.,nan],
                         'Y':[nan,5.,nan,7.],
                         'Z':[nan,9.,nan,11.]})

In [28]:
dframe_evens = DataFrame({'X':[2.,4.,nan,6.,nan],
                          'Y':[14.,nan,nan,18.,nan]})

In [29]:
dframe_odds

    X   Y   Z
0   1 NaN NaN
1 NaN   5   9
2   3 NaN NaN
3 NaN   7  11

In [30]:
dframe_evens

    X   Y
0   2  14
1   4 NaN
2 NaN NaN
3   6  18
4 NaN NaN

In [31]:
dframe_odds.combine_first(dframe_evens)

    X   Y   Z
0   1  14 NaN
1   4   5   9
2   3 NaN NaN
3   6   7  11
4 NaN NaN NaN