In [1]:
import numpy as np 
from pandas import Series,DataFrame

import pandas as pd

In [2]:
my_ser = Series([1,2,3,4],index=['A','B','C','D'])

In [3]:
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
my_index = my_ser.index

In [6]:
my_index

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [7]:
my_index[2] # starts with 0 don't forget

'C'

In [8]:
my_index[0]

'A'

In [9]:
my_index[2:]

Index([u'C', u'D'], dtype='object')

In [10]:
my_index[0] = 'Z' #Indexes are not mutable they are inmutable - you can't change

TypeError: Indexes does not support mutable operations

In [11]:
## 17 Reindexing 

from numpy.random import randn

In [12]:
ser1 = Series([1,2,3,4], index = ['A','B','C','D'])

In [13]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [14]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [15]:
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [16]:
# panda E and F don't have any value and it gives a NaN value automatically.

In [17]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value = 0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [21]:
ser3 = Series(['USA','Mexico','Canada'], index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [22]:
ser2 + ser3

0     NaN
5     NaN
10    NaN
A     NaN
B     NaN
C     NaN
D     NaN
E     NaN
F     NaN
dtype: object

In [29]:
ser3.reindex(range(15),method='ffill') #ffill forward fill - grab the previous value and hit it to the forward one 
#until having anohter value

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [27]:
ranger = range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [33]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A','B','D','E','F'], columns=['col1','col2','col3','col4','col5'])

In [34]:
dframe

       col1      col2      col3      col4      col5
A -1.669694 -0.920322  1.891712  0.024551  0.360794
B  0.335439  0.223774  0.956775  0.458734  0.795270
D  0.275972 -0.513836  1.511114  0.137502 -0.942779
E -0.900563  1.074063  0.192483  0.863344 -0.884809
F  0.157970  0.007206 -0.147942  0.461650 -0.238281

In [35]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A -1.669694 -0.920322  1.891712  0.024551  0.360794
B  0.335439  0.223774  0.956775  0.458734  0.795270
C       NaN       NaN       NaN       NaN       NaN
D  0.275972 -0.513836  1.511114  0.137502 -0.942779
E -0.900563  1.074063  0.192483  0.863344 -0.884809
F  0.157970  0.007206 -0.147942  0.461650 -0.238281

In [42]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [45]:
dframe2.reindex(columns= new_columns)

       col1      col2      col3      col4      col5  col6
A -1.669694 -0.920322  1.891712  0.024551  0.360794   NaN
B  0.335439  0.223774  0.956775  0.458734  0.795270   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.275972 -0.513836  1.511114  0.137502 -0.942779   NaN
E -0.900563  1.074063  0.192483  0.863344 -0.884809   NaN
F  0.157970  0.007206 -0.147942  0.461650 -0.238281   NaN

In [48]:
dframe.ix[['A','B','C','D','E','F'],new_columns] # ix is faster way!!

       col1      col2      col3      col4      col5  col6
A -1.669694 -0.920322  1.891712  0.024551  0.360794   NaN
B  0.335439  0.223774  0.956775  0.458734  0.795270   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.275972 -0.513836  1.511114  0.137502 -0.942779   NaN
E -0.900563  1.074063  0.192483  0.863344 -0.884809   NaN
F  0.157970  0.007206 -0.147942  0.461650 -0.238281   NaN