In [1]:
import numpy as np 
import pandas as pd 
from pandas import Series,DataFrame

In [2]:
ser1 = Series(np.arange(3), index=['a','b','c'])
ser1

a    0
b    1
c    2
dtype: int64

In [3]:
ser1 = 2 * ser1 
ser1

a    0
b    2
c    4
dtype: int64

In [4]:
ser1['b']

2

In [5]:
ser1[1] # [1] and ['b'] are giving the same results

2

In [6]:
ser1[:]

a    0
b    2
c    4
dtype: int64

In [7]:
ser1[['a','b']]

a    0
b    2
dtype: int64

In [9]:
ser1[(ser1>3)]

c    4
dtype: int64

In [14]:
ser1[(ser1>3)] = 12

In [15]:
ser1

a     0
b     2
c    12
dtype: int64

In [16]:
dframe = DataFrame(np.arange(25).reshape(5,5),index=['NYC','LA','SA','DC','CH'], 
                   columns= ['a','b','c','d','e'])

In [17]:
dframe

      a   b   c   d   e
NYC   0   1   2   3   4
LA    5   6   7   8   9
SA   10  11  12  13  14
DC   15  16  17  18  19
CH   20  21  22  23  24

In [19]:
dframe['c']

NYC     2
LA      7
SA     12
DC     17
CH     22
Name: c, dtype: int64

In [20]:
dframe[['a','b']]

      a   b
NYC   0   1
LA    5   6
SA   10  11
DC   15  16
CH   20  21

In [22]:
dframe[(dframe['c']>8)]

     a   b   c   d   e
SA  10  11  12  13  14
DC  15  16  17  18  19
CH  20  21  22  23  24

In [23]:
dframe > 10

         a      b      c      d      e
NYC  False  False  False  False  False
LA   False  False  False  False  False
SA   False   True   True   True   True
DC    True   True   True   True   True
CH    True   True   True   True   True

In [24]:
dframe.ix['LA']

a    5
b    6
c    7
d    8
e    9
Name: LA, dtype: int64

In [28]:
dframe.ix[1,1]

6