In [1]:
# import module 
import numpy as np 
import pandas as pd 
from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
xlsfile = pd.ExcelFile('Lec28.xlsx')

In [3]:
dframe = xlsfile.parse('Sheet1')

In [4]:
dframe

   This is a test   Unnamed: 1  Unnamed: 2
0               21       21345          64
1               12      123125          64
2              135      135123       34578
3               12           1        7345
4                5     2312312       63347
5                6       12367       12367