In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [10]:
dframe = DataFrame({'city':['Bayrakli','Alasehir','Turgutlu'],
                    'altitude':[3158,3000,2762]})
dframe

   altitude      city
0      3158  Bayrakli
1      3000  Alasehir
2      2762  Turgutlu

In [11]:
turkish_map = {'Bayrakli':'Izmir',
               'Alasehir': 'Manisa',
               'Turgutlu':'Manisa'}

In [12]:
dframe['state'] = dframe['city'].map(turkish_map)

In [13]:
dframe

   altitude      city   state
0      3158  Bayrakli   Izmir
1      3000  Alasehir  Manisa
2      2762  Turgutlu  Manisa